<div class="swagTable">
    <div class="swagHeadingContainer row">
        <div class="swagHeading  col-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">Name</div>
        <div class="swagHeading col-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">Email</div>
        <div class="swagHeading col-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">Phone</div>
        <div class="swagHeading col-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">Points</div>
    </div>
    <div class="SwagRowContainer">
        <div class="swagRow row">
            <div class="swagCol bold capitalize col-3 col-lg-3 cl-md-3 col-sm-3 col-xs-3">anshu</div>
            <div class="swagCol col-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">princeanshu101.ap@gmail.com</div>
            <div class="swagCol col-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">8146879980</div>
            <div class="swagCol col-3 col-lg-3 cl-md-3 col-sm-3 col-xs-3">100</div>
        </div>
        <div class="swagRow row">
            <div class="swagCol bold capitalize col-3 col-lg-3 cl-md-3 col-sm-3 col-xs-3">anshu</div>
            <div class="swagCol col-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">princeanshu101.ap@gmail.com</div>
            <div class="swagCol col-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">8146879980</div>
            <div class="swagCol col-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">100</div>
        </div>
    </div>
</div>